alias SDN="sudo shutdown now"
alias SR="sudo reboot"
alias SS="sudo systemctl"
alias SSS="solargraph socket"
alias yt="youtube-dl --add-metadata -ic" # Download video link
alias yta="youtube-dl --add-metadata -xic" # Download only audio link
alias ss="ss -tulpn"
alias ipinfo="curl ipinfo.io"
alias ip='ip -color=auto'
alias wifi="nmtui"
alias english="echo 535179 | xclip -selection clipboard"
alias rubyserver="ruby -run -e httpd . -p 8000"
alias wifiup="nmcli r wifi on"
alias wifidown="nmcli r wifi off"
alias connect="nmcli c up"
alias disconnect="nmcli c down"
alias ls="exa -lhg --color=always --group-directories-first"
alias la="ls -lah"
alias cp="cp -gRriv"
alias mv="mv -giv"
alias mkdir="mkdir -vp"
alias vim="nvim"
alias gff="git cc"
alias diff='diff --color=auto'
alias grep='grep --color=auto'
alias open="xdg-open"
alias ps="ps auxf"
alias cat="bat -p"
alias df="duf"
alias tree="broot"
alias cleanup="sudo pacman -Rns $(pacman -Qtdq)"
alias unlock="sudo rm /var/lib/pacman/db.lck"
alias jctl="journalctl -p 3 -xb"
alias d="docker"
alias dc="docker-compose"
alias sz="source ~/.zshrc"
alias irbl="irb -I . -r"
alias weather="curl wttr.in/La_Plata"
alias rcon="python ~/git/cs1.6-server-docker/socket/rcon.py"
alias jctl="journalctl -p 3 -xb"
alias wget="wget -c"
alias dolar="ruby scripts/dolar_today.rb all"
alias -g Z='| fzf'
alias gL=forgit::log
alias gD=forgit::diff
alias gA=forgit::add
alias grH=forgit::reset::head
alias gi=forgit::ignore
alias gcf=forgit::restore
alias gclean2=forgit::clean
alias gsS=forgit::stash::show
alias gcP=forgit::cherry::pick
alias grB=forgit::rebase
alias gcC=forgit::checkout
alias be='bundle exec'
alias gf=git-fzf
